<?xml version="1.0" encoding="utf-8"?>
<!-- Panda Gripper with Finray Fingers and Wrist Camera -->
<!-- Origin is at the end-effector frame (adjustable orientation) -->
<robot name="panda_gripper" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- Dummy base link for gripper (allows rotation of entire assembly) -->
  <link name="gripper_base">
    <inertial>
      <origin rpy="0 0 0" xyz="0.0 0.0 0.0"/>
      <mass value="0.001"/>
      <inertia ixx="1e-6" ixy="0.0" ixz="0.0" iyy="1e-6" iyz="0.0" izz="1e-6"/>
    </inertial>
  </link>

  <!-- Joint to rotate entire gripper assembly -->
  <joint name="gripper_base_to_hand" type="fixed">
    <parent link="gripper_base"/>
    <child link="panda_hand"/>
    <!-- ADJUST THIS to rotate entire gripper: rpy="roll pitch yaw" -->
    <origin rpy="0 3.141593 3.141593" xyz="0 0 0"/>
  </joint>

  <!-- panda_hand link (base of gripper) -->
  <link name="panda_hand">
    <inertial>
      <origin rpy="0 0 0" xyz="0.0 0.0 0.0"/>
      <mass value="0.67893"/>
      <inertia ixx="0.01" ixy="0.0" ixz="0.0" iyy="0.01" iyz="0.0" izz="0.01"/>
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="package://panda_description/meshes/visual/hand.dae"/>
      </geometry>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="package://panda_description/meshes/collision/hand.stl"/>
      </geometry>
    </collision>
  </link>

  <!-- Left Finray Finger -->
  <link name="panda_leftfinger">
    <inertial>
      <origin rpy="0 0 0" xyz="0.0 0.0 0.0"/>
      <mass value="0.01053"/>
      <inertia ixx="0.001" ixy="0.0" ixz="0.0" iyy="0.001" iyz="0.0" izz="0.001"/>
    </inertial>
    <visual>
      <geometry>
        <mesh filename="package://panda_description/meshes/visual/finray.dae" scale="0.001 0.001 0.001"/>
      </geometry>
    </visual>
    <collision>
      <geometry>
        <mesh filename="package://panda_description/meshes/collision/finger.stl"/>
      </geometry>
    </collision>
  </link>

  <!-- Right Finray Finger -->
  <link name="panda_rightfinger">
    <inertial>
      <origin rpy="0 0 0" xyz="0.0 0.0 0.0"/>
      <mass value="0.01053"/>
      <inertia ixx="0.001" ixy="0.0" ixz="0.0" iyy="0.001" iyz="0.0" izz="0.001"/>
    </inertial>
    <visual>
      <origin rpy="0 0 3.14159265359" xyz="0 0 0"/>
      <geometry>
        <mesh filename="package://panda_description/meshes/visual/finray.dae" scale="0.001 0.001 0.001"/>
      </geometry>
    </visual>
    <collision>
      <origin rpy="0 0 3.14159265359" xyz="0 0 0"/>
      <geometry>
        <mesh filename="package://panda_description/meshes/collision/finger.stl"/>
      </geometry>
    </collision>
  </link>

  <!-- Wrist Camera Box (manually created mount) -->
  <link name="panda_wrist_cam_box">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="0.05"/>
      <inertia ixx="1e-4" ixy="0" ixz="0" iyy="1e-4" iyz="0" izz="1e-4"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.06 0.04 0.005"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.06 0.04 0.005"/>
      </geometry>
    </collision>
  </link>

  <!-- Wrist Camera Link (actual camera with mesh) -->
  <link name="panda_wrist_cam">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="0.03"/>
      <inertia ixx="1e-5" ixy="0" ixz="0" iyy="1e-5" iyz="0" izz="1e-5"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://panda_description/meshes/visual/wrist_cam.dae" scale="0.001 0.001 0.001"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://panda_description/meshes/collision/wrist_cam.stl" scale="0.001 0.001 0.001"/>
      </geometry>
    </collision>
  </link>

  <!-- Joints -->
  <joint name="panda_finger_joint1" type="prismatic">
    <parent link="panda_hand"/>
    <child link="panda_leftfinger"/>
    <origin rpy="0 0 0" xyz="0 0 0.0684"/>
    <axis xyz="0 1 0"/>
    <limit effort="20" lower="0.0" upper="0.04" velocity="0.2"/>
  </joint>

  <joint name="panda_finger_joint2" type="prismatic">
    <parent link="panda_hand"/>
    <child link="panda_rightfinger"/>
    <origin rpy="0 0 0" xyz="0 0 0.0684"/>
    <axis xyz="0 -1 0"/>
    <limit effort="20" lower="0.0" upper="0.04" velocity="0.2"/>
    <mimic joint="panda_finger_joint1"/>
  </joint>

  <!-- Joint: panda_hand to wrist camera box -->
  <joint name="panda_wrist_cam_box_joint" type="fixed">
    <!-- CUSTOMIZE THIS: Position of the box mount relative to panda_hand -->
    <origin xyz="-0.05 0 0.00" rpy="0 0 0"/>
    <parent link="panda_hand"/>
    <child link="panda_wrist_cam_box"/>
  </joint>

  <!-- Joint: camera box to actual camera -->
  <joint name="panda_wrist_cam_joint" type="fixed">
    <!-- CUSTOMIZE THIS: Position of camera relative to the box center
         Default: camera is at the bottom center of the box (z = -0.015) -->
    <origin xyz="-0.01 0 0.03" rpy="0 0 0"/>
    <parent link="panda_wrist_cam_box"/>
    <child link="panda_wrist_cam"/>
  </joint>

</robot>
